*
	padding: 0
	margin: 0
	border: 0
	transition: .7s ease-in-out
	box-sizing: border-box
*:before *:after
	-moz-box-sizing: border-box
	-webkit-box-sizing: border-box
	box-sizing: border-box
a:focus,a:active
	outline: none
nav,footer,header,aside
	display: block
html,body
		height: 100%
		width: 100%
		font-size: 100%
		line-height: 1
		font-family: 'Exo 2', sans-serif
		-ms-text-size-adjust: 100%
		-moz-text-size-adjust: 100%
		-webkit-text-size-adjust: 100%
		margin: 0 auto
		outline: none
		scroll-behavior: smooth
		position: relative
		top: 0
		left: 0
		bottom: 0
		right: 0
		overflow-x: hidden
main
	width: 100%
input::-ms-clear
	display: none
input
	&::-webkit-input-placeholder
		color: grey
		padding: 10px
		text-overflow: ellipsis
	&::-moz-placeholder
		color: grey
		padding: 10px
		text-overflow: ellipsis
	&:-ms-input-placeholder
		color: grey
		padding: 10px
		text-overflow: ellipsis
	&::-webkit-inner-spin-button
		-webkit-appearance: none
	&::-webkit-outer-spin-button
		-webkit-appearance: none
	&[type='number']
		-moz-appearance: textfield
button:active, button:focus
	outline: none !important
button::-moz-focus-inner
	border: 0 !important
button
	cursor: pointer
button::-moz-focus-inner
	padding: 0
	border: 0
a,a:visited
	text-decoration: none
a:hover
	text-decoration: none
	outline: none !important
video:active, video:focus
	outline: none !important
ul li
	list-style: none
h1,h2,h3,h4,h5,h6
	font-size: inherit
::-webkit-scrollbar-track
	background-color: #86377b
	box-shadow: 0px 0px 3px #000 inset
::-webkit-scrollbar-thumb
	-webkit-border-radius: 15px
	border-radius: 15px
	background-color: #27273c
	box-shadow: 0px 1px 1px #111 inset
	background-position: center
	background-repeat: no-repeat
	&:hover
		background-color: #86377b
::-webkit-scrollbar
	width: 10px


::selection
	background-color: crimson
::-moz-selection
	background-color: crimson


